html, body, #root {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  position: relative;
  height: 100vh;
  padding: 0;
  margin: 0;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #2c3e50;
  background: #f6f8f9;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}

/* 请求 Loading 遮罩层样式 */
#JS_RequestLoading {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 9998;
	font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
	/* background: rgba(0, 0, 0, 0.45); */
}

:not(:root):fullscreen::backdrop {
  display: none;
}

html.grayscale {
  filter: grayscale(100%);
}